.main-content {
    max-width: 800px;
    margin: 0 auto;
    padding: 40px;
    background-color: rgba(255, 255, 255, 0.1);
    text-align: center;
}
h1 {
    font-size: 42px;
    margin-bottom: 20px;
    color: black;
}

.bio {
    font-size: 20px;
    line-height: 1.5;
    margin-bottom: 30px;
    text-align: justify;
    color: black;
}
body {
    font-family: Oswald, Arial;
}
strong {
    color: rgb(32, 173, 150);
}